.App {
  background-color: #283042;
  min-height: 100vh;
}

.logingroup {
  padding-top: 2px;
  padding-bottom: 2px;
}

.formerrors {
  margin-bottom: 1.5em;
}

.savebutton {
  margin-top: 1.5em;
}

.navigation-button {
  margin: 0px 2px 0px 2px;
}

.sessiontable {
  word-wrap: break-word;
  word-break: break-all;
}

@font-face { 
  font-family: 'SH Headline';
  src: url( './Bree-SH-Headline-Regular.woff2') format('woff2');
}

.display {
  text-align: center;
  font-family: "SH Headline", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.displaybanner {
  /* border: 3px solid #ff8605;
  border-width: 0px 0px 2px 0px; */
}

.displaysectionleft {
  border: 2px solid #ff8605;
  border-width: 2px 0px 0px 0px;
}

.displaysectionright {
  border: 2px solid #ff8605;
  border-width: 2px 0px 0px 2px;
}

h2.display {
  text-align: center;
}
