
/* General Application classes */
.App.bp3-dark {
  background-color: #283042;
}

.App {
  min-height: 100vh;
}

.App .bp3-navbar-group .bp3-switch {
  margin-bottom: 0;
}

/* Utitlity classes used in several forms */
.formerrors {
  margin-bottom: 1.5em;
}

.formbutton {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.formbutton-tight {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.formbutton-right {
  align-self: flex-end;
}

.drawercontainer {
  height: 100%;
  border-right-color: #137cbd;
  border-right-width: 2px;
  border-right-style: solid;
}

.drawerspacer {
  height: 120px;
}

.drawerbutton {
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 25px;
  height: 50px;
  width: 30px;
  background: #137cbd;
  cursor: pointer;
}

/* The classes for the Car Panel */
.pwd-carform-details {
  padding-bottom: 0;
}

.pwd-carlistcontainer {
  overflow: hidden;
  position: relative;
  left: -17px;
}

.pwd-carlist {
  height: 94vh;
  right: -17px;
  overflow-y: scroll;
  position: relative;
}


/* The classes for the Race Panel */
.card-tight {
  padding: 5px;
}

.pwd-startnumber {
  border-right-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  padding-left: 0.7em;
  padding-right: 1em;
}

.pwd-racetag {
  margin-right:0.7em;
}

.pwd-trash {
  cursor: pointer;
}

.pwd-raceconductorcontainer {
  overflow: hidden;
  position: relative;
  left: -17px;
}

.pwd-raceconductor {
  height: 75vh;
  right: -17px;
  overflow-y: scroll;
  position: relative;
}

.pwd-raceconductor-sb {
  height: 70vh;
  padding-right: 13px;
}

.pwd-racecarscontainer {
  overflow: hidden;
  position: relative;
  left: -17px;
}

.pwd-racecars {
  height: 50vh;
  right: -17px;
  overflow-y: scroll;
  position: relative;
}

.pwd-racepoolcontainer {
  overflow: hidden;
  position: relative;
  left: -17px;
}

.pwd-racepool {
  height: 50vh;
  right: -17px;
  overflow-y: scroll;
  position: relative;
}


.pwd-racecard {
  text-align: center;
  cursor: pointer;
}

.pwd-racecarddetails {
  /* margin-left: 5em; */
  text-align: left;
  cursor: pointer;
}

.pwd-controls {
  text-align: center;
}

.pwd-status {
  text-align: center;
  border-right-color: #666666;
  border-right-style: solid;
  border-right-width: 1px;
}

.bp3-dark .pwd-heat {
  border-color: #666666;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: #394b59;
}

.bp3-dark .pwd-gray {
  background-color: #515151;
  text-align: center;
}

.bp3-dark .pwd-blue {
  background-color: #00616b;
  text-align: center;
}

.bp3-dark .pwd-orange {
  background-color: #7e4000;
  text-align: center;
}

.bp3-dark .pwd-berry {
  background-color: #571f2c;
  text-align: center;
}

.pwd-heat {
  border-color: #666666;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: #f5f8fa;
}

.pwd-gray {
  background-color: #d0cfcf;
  text-align: center;
}

.pwd-blue {
  background-color: #dffffc;
  text-align: center;
}

.pwd-orange {
  background-color: #ffd9aa;
  text-align: center;
}

.pwd-berry {
  background-color: #edb9c5;
  text-align: center;
}


/* The classes for the Navigation Panel */
.navigation-button {
  margin: 0px 2px 0px 2px;
}

.bp3-dark .bp3-navbar.pwd-development {
  background-color: #3a0b14;
}

.bp3-navbar.pwd-development {
  background-color: #fff0f0;
}

/* The classes for the SessionPanel */
.logingroup {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sessiontable {
  word-wrap: break-word;
  word-break: break-all;
}

/* The classes for the DisplayPanel */
.display h1, .display h4{
  text-align: center;
  font-family: "Lobster", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
bster-Regular-Latin

.displaybanner {
  /* border: 3px solid #ff8605;
  border-width: 0px 0px 2px 0px; */
}

.displaysectionleft {
  border: 2px solid #ff8605;
  border-width: 2px 0px 0px 0px;
  overflow: hidden;
  text-align: center;
}

.displaysectionright {
  border: 2px solid #ff8605;
  border-width: 2px 0px 0px 2px;
}

h2.display {
  text-align: center;
}

.pwd-label {
  padding-left: 2em;
  padding-right: 1em;
}

.display h4.pwd-label {
  display: inline-block;
}
