.App {
  background-color: #283042;
  min-height: 100vh;
}

.logingroup {
  padding-top: 2px;
  padding-bottom: 2px;
}

.formerrors {
  margin-bottom: 1.5em;
}

.savebutton {
  margin-top: 1.5em;
}

.navigation-button {
  margin: 0px 2px 0px 2px;
}

.sessiontable {
  word-wrap: break-word;
  word-break: break-all;
}
